@media (max-width: 767px) {
  .image-models {
     height: 300px;
     width: 100%;
  }

  .image-product{
    height: 300px;
    width: 100%;
  }

  .box-about{
    height: 400px;
  }

  .text-center-mobile{
    text-align: center;
  }
}

@media (max-width: 425px) {
  .image-models {
     height: 200px;
     width: 100%;
  }

  .image-product{
    height: 200px;
    width: 100%;
  }
  .video-crop{
    height: auto;
    width: 100%;
  }
  .box-about{
    height: 300px;
  }
}

@media (max-width: 320px) {
  .image-models {
     height: 150px;
     width: 100%;
  }

  .image-product{
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 991px){
  .logo{
    left: unset !important;
    margin-left: 0 !important;
  }

  .none-dflex-mobile{
    display: block !important;
  }
}


@media screen and (max-width: 992px) {
  #hero {
    height: 34vh;
  }

  #hero .carousel-container {
    top: 8px;
  }

  .btn-join{
    background-color: #ede9e3 !important;
    border: 2px solid #7a6429 !important;
    color: #7a6429 !important;
    border-radius: 30px !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
  }
}

@media screen and (max-width: 800px) {
  #hero {
    height: 37vh;
  }

  .row-procedure{
    padding-right: calc(var(--bs-gutter-x) * 1.5) !important;
  }

  .img-alamat{
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  #hero {
    height: 27vh;
  }

  .img-about-mobile{
    float: unset; 
    width: 100%; 
  }
}

@media screen and (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media screen and  (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }

}

@media screen and  (max-height: 500px) {
  #hero {
    height: 85vh;
    margin-top: 65px;
  }
}




